<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Minion Website</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="https://www.inventosdigitais.com.br/?locale=pt-BR">Inventos Digitais</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
                <li class="nav-item">
                   <a class="nav-link" href="https://7653935a43704e5ca420c05b5734c1b6.vfs.cloud9.us-east-2.amazonaws.com/formulario">Formulario Beta</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Conteudo da Pagina -->
    <div class="container">

      <!-- Header do Jumbotron -->
      <header class="jumbotron my-4">
        <h1 class="display-3">O Site dos Minions!</h1>
        <p class="lead">Quando você escolher seu produto minion favorito, clique no botão azul embaixo dele para reserva-lo. </p>
      </header>

      <!-- Features da Pagina -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://i67.tinypic.com/nywlcx.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Funko Pop Hula Minion</h4>
              <p class="card-text">Divirta-se com a divertida dança havaiana deste bonequinho colecionável!</p>
            </div>
            <div class="card-footer">
              <a href="https://7653935a43704e5ca420c05b5734c1b6.vfs.cloud9.us-east-2.amazonaws.com/formulario" class="btn btn-primary">Reservar</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://i64.tinypic.com/zwxklv.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Sacolas de Presente dos Minions</h4>
              <p class="card-text">Para presentear e guardar objetos de pessoas queridas.</p>
            </div>
            <div class="card-footer">
              <a href="https://7653935a43704e5ca420c05b5734c1b6.vfs.cloud9.us-east-2.amazonaws.com/formulario" class="btn btn-primary">Reservar</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://i65.tinypic.com/bi8m8p.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Carro Tunado dos Minions</h4>
              <p class="card-text">Perfeito para crianças radicais que adoram velocidade.</p>
            </div>
            <div class="card-footer">
              <a href="https://7653935a43704e5ca420c05b5734c1b6.vfs.cloud9.us-east-2.amazonaws.com/formulario" class="btn btn-primary">Reservar</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://i67.tinypic.com/sbnaqg.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Potinho dos Minions</h4>
              <p class="card-text">Armazena desde brinquedos até comidinhas diversas.</p>
            </div>
            <div class="card-footer">
              <a href="https://7653935a43704e5ca420c05b5734c1b6.vfs.cloud9.us-east-2.amazonaws.com/formulario" class="btn btn-primary">Reservar</a>
            </div>
          </div>
        </div>

      </div>
      <!-- / Features da pagina -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Feito por &copy; Pedro Maia (2019)</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

